@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  background-color:#dfdfdf;
  margin:0 auto;
  font-family: "Inter", sans-serif;
}

canvas {
  /* border: none; */
  /* border: 0.5px black solid; */
  /* transform: rotate(0deg); */
  transform-origin: 0px 0px;
  /* background-color: #ffc000; */


}

#containerCanvas {
  overflow-x: scroll;
}




#icon-user{
  padding: 10px;
  background-color: black;
}


.ptb{
  padding-top:20px;
  padding-bottom:20px;
}
.instructions{
  display:block; 

width:800px;
position:relative;}

.btn{
  background-color:#eeeeee;
 
  padding:10px;
  position:relative;
  display:inline-block;
 
}

.btn:hover {
   cursor:pointer;
  background-color:#11eeff;
}

/* .grid_holder{
  width:800px;
  margin-top:20px;
  
  
} */

#modal {
  /* background-color: #11eeff; */
 
  position: fixed;
  bottom: 0%;
  left: 0%;
  /* max-width: 200px; */
  /* height: 200px; */
  padding:  20px;
  z-index: 50;
}

.modal-content{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1.25rem; /* 1.25rem = 20px */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.25rem; /* 1.25rem = 20px */
    position: relative;
    border-radius: 0.5rem; /* 12px */

}
.modal-image{
 width: 20rem; 
  height: 12rem;
  object-fit: cover;
}

#btn-closed {
  color: #ff0000;                                                                                       
  position: absolute;
  top: 0px;
  right:10px;
  font-size: 1.875rem; /* equivalent to text-3xl in Tailwind */
}

#btn-closed:hover {
  cursor: pointer;
}

/* .container-stick{
  position: fixed;
  bottom: 10%;
  left: 30%;
  background-color: blue;
  width: 200px;
  height: 200px;
} */

/* CAMERA  */
#camera {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  width: 100vw;
  height: 100vh;
}

#qr-video {
  width: 100%;
  /* height: 100%; */
}

#loading-text {
  background-color: #ff9900;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
}

#close-camera {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  justify-content: center;
  padding: 20px 0px;
}

#button-close-camera {
  width: 5rem;
  height: 5rem;
  background-color: #ff0000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
}

#back-qr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 480px; /* Sesuaikan dengan kebutuhan */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#back-qr > div {
  width: 13rem;
  height: 13rem;
  display: flex;
  position: relative;
}

#back-qr > div > div {
  /* border-bottom: 4px solid #ff9900; */
  position: absolute;
}

#back-qr > div > div:nth-child(1) {
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-top: 4px solid #ff9900;
  border-left: 4px solid #ff9900;

}

#back-qr > div > div:nth-child(2) {
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-top: 4px solid #ff9900;
  border-right: 4px solid #ff9900;
}

#back-qr > div > div:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-bottom: 4px solid #ff9900;
  border-left: 4px solid #ff9900;
}

#back-qr > div > div:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-bottom: 4px solid #ff9900;
  border-right: 4px solid #ff9900;
}

/* CAMERA END  */

#container-button-bottom {
  position: fixed;
  bottom: 5rem; /* Adjust this value as needed */
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 2.5rem; /* Adjust padding as needed */
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
}

.gap-5 {
  gap: 1.25rem;
}

.w-14,
.h-14 {
  width: 3.5rem; /* Adjust width as needed */
  height: 3.5rem; /* Adjust height as needed */
}

.bg-white {
  background-color: #fff;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-3xl {
  font-size: 1.875rem; /* Adjust font size as needed */
}

.rounded-full {
  border-radius: 9999px; /* Adjust border radius as needed */
}

.border {
  border-width: 1px;
  border-style: solid;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

.cursor-pointer {
  cursor: pointer;
}

.bg-orange-500 {
  background-color: #ed8936; /* Adjust background color as needed */
}



.text-2xl {
  font-size: 1.25rem; /* Adjust font size as needed */
}

.absolute {
  position: absolute;
}

.top-8 {
  top: 2rem; /* Adjust top position as needed */
}

.right-50 {
  right: 50%; /* Adjust right position as needed */
}

.gap-2{
  gap: 0.5rem;
}

.animate-pulse{
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
}